[Unit]
Description=Supervisor daemon

[Service]
Type=forking
ExecStart=/opt/emes/anaconda3/bin/supervisord
ExecStop=/opt/emes/anaconda3/bin/supervisorctl $OPTIONS shutdown
ExecReload=/opt/emes/anaconda3/bin/supervisorctl $OPTIONS reload
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
